/* Global Styles */
#root {
  margin: 0;
  /* Ensure no margin */
  padding: 0;
  /* Ensure no padding */
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: white;
  box-sizing: border-box;
  /* Ensure consistent box-sizing */
}

.main-content {
  background-color: white;
  min-height: 100vh;
  flex-grow: 1;
  box-sizing: border-box;
  /* Include padding and border in total width/height */
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
  /* Include padding and border in total width/height */
}

.App {
  text-align: center;
  box-sizing: border-box;
  /* Include padding and border in total width/height */
}

/* Additional styling to ensure no horizontal scroll */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (max-width: 1200px) {
  .main-content {
    padding: 15px;
  }
}

@media (max-width: 900px) {
  .main-content {
    padding: 10px;
  }
}

@media (max-width: 600px) {
  .main-content {
    padding: 8px;
  }

  .App {
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  .App {
    font-size: 12px;
  }
}